*
!.gitignore
!flake.nix
!flake.lock
!.envrc
!justfile
!LICENSE
!.luarc.json
!README.md
!shell.nix

!helpers/
!helpers/**

!home/
!home/**

!machines/
!machines/**

!modules/
!modules/**

!overlays/
!overlays/**

!pkgs/
!pkgs/**
